*{margin:0;padding:0}
input{outline:none}
body{padding:10px}
p{font-size:13px;color:#666;}

.form{width:200px;}
.form input{box-sizing:border-box;width:100%;padding:0 5px;height:36px;border:#666;border:1px solid #999;margin-top:10px;}
.form input[type="button"]{border:none;background:#009688;color:#fff;font-size:16px;}

.item{width:320px;float:left;margin:10px 0 10px 10px;padding:10px 10px;border:1px dotted #dc543a;}
.item h3{color:#555;}
.item img{height:100px;float:left;}

/* image url-loader */
#images2{width:100px;height:100px;background:url(../images/email.png) no-repeat;background-size:100%;}

::placeholder{background:#ff0}